<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>

<div class="row">
    <div class="thumb-list">


        <a href="#" onclick="toggle_visibility('foo');" class="mapicon">Click here to Map vie</a>
        <div id="foo"><iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=canada&amp;aq=&amp;sll=22.557579,88.368828&amp;sspn=0.834491,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=Canada&amp;ll=56.130366,-106.346771&amp;spn=67.03615,214.277344&amp;t=m&amp;z=3&amp;output=embed"></iframe><br /><small><a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=canada&amp;aq=&amp;sll=22.557579,88.368828&amp;sspn=0.834491,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=Canada&amp;ll=56.130366,-106.346771&amp;spn=67.03615,214.277344&amp;t=m&amp;z=3" style="color:#0000FF;text-align:left">View Larger Map</a></small></div>


        <h1>Property listing</h1>

        <a data-toggle="modal" data-target="#DistributorModal" class="btn btn-primary btn-lg">Create New</a>
        <ul>
            <li ng-repeat="property in PropertyListData">
                <div class="listblock">
                    <div class="span7">

                        <h3><a href="availablerentals1.php">{{property.Name}}</a></h3>
                        <p>
                            {{property.Address1}} {{property.Address2}} {{property.City}}
                            {{property.State}} {{property.PostalCode}}
                        </p>
                        <p>
                            <span class="listing-beds">{{property.Beds}} Bed,</span>
                            <span class="listing-baths">{{property.Baths}} Bath</span>
                            <span class="listing-sqft">{{property.SqFt}} Sq Ft</span>
                            <span class="listing-sqft">${{property.Price}}</span>
                        </p>


                    </div>
                    <div class="span2"><a href="availablerentals1.php"><img src="img/thumb-small02.png" alt="Thumbnail"></a></div>

                    <div class="span2 "> <a href="availablerentals1.php"><img src="img/122.l01.gif" width="120" height="80" alt="superduper"></a></div>
                    <div class="cl"></div>
                </div>
            </li>

        </ul>






    </div>

</div>
    <!-- Modal -->
<div class="modal fade" id="DistributorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="H1">Distributor Information</h2>
            </div>
            <div class="modal-body">
                <div class="tab-pane fade active in" ng-form="DistributorValidationForm" id="createnew">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Name
                                    </label>
                                    <input id="Distributor_Name" type="text" class="form-control" placeholder="" ng-model="CurrentDistributor.DistributorName" required name="Name" />
                                    <span class="ng-error" ng-show="DistributorValidationForm.Name.$error.required && DistributorValidationForm.Name.$dirty">Name required!</span><br />
                                </div>
                                <div class="form-group">
                                    <label>
                                        Country

                                    </label>
                                    <select id="Distributor_Countries" type="text" class="form-control" ng-model="CurrentDistributor.CountryID" ng-options="item.CountryID as item.CountryName for item in  Model.LookUpTables.CountriesWithStates">
                                        <option value="">Choose a Country here</option>
                                    </select>
                                    <!--<span class="ng-error" ng-show="Model.DistributionCenter.CompanyInfo.Addresses[0].CountryId === null">Country required!</span>-->
                                </div>
                                <div class="form-group">
                                    <label>
                                        Address Line 1

                                    </label>
                                    <input id="Distributor_Address1" type="text" class="form-control" placeholder="" ng-model="CurrentDistributor.DistributorAddressLine1" />
                                </div>
                                <div class="form-group">
                                    <label>
                                        Address Line 2

                                    </label>
                                    <input id="Distributor_Address2" type="text" class="form-control" placeholder="" ng-model="CurrentDistributor.DistributorAddressLine2" />
                                </div>
                                <div class="form-group">
                                    <label>
                                        City:

                                    </label>
                                    <input id="Distributor_City" type="text" class="form-control" placeholder="" ng-model="CurrentDistributor.DistributorCity" />
                                </div>
                                <div class="form-group">
                                    <label>
                                        State:

                                    </label>
                                    <select id="Distributor_State" type="text" class="form-control" ng-model="CurrentDistributor.StateID" ng-options="item.Id as item.Name for item in StatesByCountry(CurrentDistributor.CountryID)">
                                        <option value="">Choose a State by Country</option>
                                    </select>
                                    <!--<span class="ng-error" ng-show="Model.DistributionCenter.CompanyInfo.Addresses[0].StateID == null">State required!</span><br />-->
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group">
                                        <label>
                                            Zip Code

                                        </label>
                                        <input id="Distributor_ZipCode" type="text" class="form-control" placeholder="" ng-model="CurrentDistributor.DistributorZipCode" />
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Zip Code Supp

                                        </label>
                                        <input id="Distributor_ZipCodeSupp" type="text" class="form-control" placeholder="" ng-model="CurrentDistributor.PostalCodeSupp" />
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Phone

                                        </label>
                                        <input type="text" name="DistributorPhone" class="form-control" ng-model="CurrentDistributor.PhoneNumber" ng-pattern="/^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/" />
                                        <span class="ng-error" ng-show="DistributorValidationForm.DistributorPhone.$error.pattern">Invalid Phone format!</span><br />
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Type: </label>
                                        </div>
                                        <div class="col-md-10">
                                            <select type="text" name="DistributorTypes" class="form-control" ng-model="CurrentDistributor.DistributorType" ng-options="item.Id as item.Description for item in  Model.LookUpTables.DistributorTypes">
                                                <option value="">Choose a Distributor type</option>
                                            </select>
                                            <span class="ng-error" ng-show="CurrentDistributor.DistributorType == null && DistributorValidationForm.$dirty">Type required!</span><br />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <!--Be aware that the label "Active" was named before "In Operation" and associated with the field "In Operation" in the database, and the UI label "Visible" is associated with the field "Active" in the database. Now would be ambiguous.-->
                                        <label>
                                            Active

                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="radio" name="inoperation" ng-value="true" ng-change="InOperationChange();" ng-model="CurrentDistributor.InOperation" />
                                            Yes

                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="radio" name="inoperation" ng-value="false" ng-change="InOperationChange();" ng-model="CurrentDistributor.InOperation" />
                                            No

                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            Visible

                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="radio" ng-disabled="CurrentDistributor.InOperation" name="visible" ng-value="true" ng-model="CurrentDistributor.Active" />
                                            Yes

                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="radio" ng-disabled="CurrentDistributor.InOperation" name="visible" ng-value="false" ng-model="CurrentDistributor.Active" />
                                            No

                                        </label>
                                    </div>
                                    <div class="form-group" ng-show="OperationType == 'Edit'">
                                        <label>
                                            Date created: {{CurrentDistributor.DTActivated | date:'mediumDate'}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button id="Distributor_Close" type="button" class="btn btn-default" ng-click="CleanForm();" data-dismiss="modal">Close</button>
                <button id="Distributor_SaveChanges" type="button" ng-show="!isIpcStaff()" ng-disabled="DistributorValidationForm.$invalid || !DistributorValidationForm.$dirty" class="btn btn-primary" ng-click="SaveChanges();" data-dismiss="modal">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->