<div class="row">
    <div class="fullwidth thumb-list">

        <h1>LOOKING FOR A RENTAL?</h1>
        <p>
            <a rel="#" href="#"><img src="img/thumb-small02.png" alt="Thumbnail" style="float:right"></a>

            Super Duper Realty brings over 20  years of real estate experience to your property management needs. As a  property management company only, we do not list or sell real estate.<br>
            With numerous contacts throughout  South Florida, we make a point of keeping up with the market and trends that  might affect your values and property rights.<br>
            Well versed in the Landlord/Tenant  Act and continually attending classes and workshops, we are always working to  provide &quot;World Class&quot; service to our customers. We have a strong  reputation of dealing fairly and honestly with owners and tenants alike.<br>
            So if you're looking for a company to  manage your affairs and is completely focused on property management, then…..
        </p>


        <h1>You've come to the right place!</h1>
    </div>

</div>